{% extends "plantilla.html" %}

{% block contenido %}
    <h2 class="text-center">¿Quiénes somos?</h1>
    <p>Somos Tienda25,</p> 
            
        <p>nos enorgullece ofrecer una experiencia de compra en línea única 
           que va más allá de la simple adquisición de productos. Somos mucho más que una tienda; 
           somos un destino donde la calidad, la elegancia y la satisfacción del cliente se unen para 
           crear momentos inolvidables.
        </p>
            
        <p>Nuestra historia comienza con la pasión por proporcionar productos excepcionales que no solo cumplen,
           sino que superan las expectativas de nuestros clientes. Cada artículo que seleccionamos ha sido 
           cuidadosamente elegido por su calidad, estilo y originalidad. 
        </p>
            
        <p>En Tienda25, valoramos la satisfacción del cliente como nuestra prioridad número uno. 
           Nuestro equipo está comprometido a brindarte un servicio excepcional, desde la navegación 
           por nuestro sitio hasta el momento en que recibes tu paquete con emoción. 
        </p>
            
        <p>Explora nuestro diverso catálogo y descubre una variedad de productos que se adaptan a tu estilo de vida
           y personalidad.
        </p>
            
        <p>Gracias por ser parte de nuestra comunidad. Estamos emocionados de tenerte con nosotros y 
           esperamos acompañarte en cada paso de tu viaje de compra.
           ¡Disfruta explorando Tienda25!
        </p>

{% endblock  %}
