{% extends "plantilla.html" %}

{% block contenido %}

    <h2 class="text-center">Productos</h2>
    <form class="w-50 shadow mx-auto p-4 m-3" method="post" action="{% url 'editar' %}">
        {% csrf_token %}
        <input type="hidden" name="id" value={{producto.id}}>
        Nombre: <input type="text" name="nombre" class="form-control my-2" required value={{producto.nombre}}>
        Precio: <input type="number" step="0.01" name="precio" class="form-control my-2" required value={{producto.precio}}>
        Descripción: 
        <textarea name="descripcion" class="form-control my-2">
            {{producto.descripcion}}
        </textarea>
        <input type="submit" value="Actualizar" class="btn btn-warning">
    </form>



{% endblock  %}